/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /* Popup CSS */
 .mwb_bump_popup_wrapper , 
 .mwb_bump_popup_loader {
	 background-color: rgba(0, 0, 0, 0.79);
	 position: fixed;
	 z-index: 999;
	 left: 0;
	 right: 0;
	 display: none;
	 align-items: center;
	 top: 0;
	 bottom: 0;
	 justify-content: center;
	 flex-direction: column;
	 overflow-y: auto;
	 height: 100%;
	 z-index: 999;
	 padding: 15px;
 }
 .mwb_bump_popup_content {
	 animation:fadein .5s;
	 background-color: #ffffff;
	 height: 450px;
	 margin: 0 auto;
	 max-width: 875px;
	 overflow-y: auto;
	 padding: 20px 0 0;
	 position: relative;
	 width: 100%;
 }
 .mwb_bump_popup_inner_content {
	padding-bottom: 20px;
 }
 p.stock.out-of-stock {
	margin: 0;
 }
 .mwb_ubo_price_html_for_variation {
	font-size: 20px;
	font-weight: 700;
 }
 .mwb_ubo_price_html_for_variation ins {
	font-weight: 700;
	padding-left: 5px;
 }
 .mwb_ubo_err_waring_for_variation {
	 color: #ff0000;
	 display: none;
	 font-size: 15px !important;
	 margin-top: 25px;
 }
 .mwb_bump_popup_close {
	 cursor: pointer;
	 display: block;
	 font-size: 18px;
	 font-weight: bold;
	 height: 30px;
	 opacity: 0.6;
	 position: absolute;
	 right: 10px;
	 text-align: center;
	 top: 10px;
	 width: 30px;
	 z-index: 1;
 }
 .mwb_bump_popup_select select {
	 background-color: #ffffff;
	 border: 1px solid #eeeeee;
	 border-radius: 4px;
	 color: #363636;
	 min-width: 300px;
	 width: auto !important;
	 height: 45px;
	 padding: 5px;
 }
 .mwb_bump_popup_select > p {
	 font-size: 30px;
	 margin-bottom: 0px;
 }
 .mwb_upsell_variation_pop_up_body {
	 overflow: hidden;
 }
 p.mwb_ubo_bump_attributes_name {
	 margin: 10px auto;
	 font-size: unset;
 }
 #payment .place-order .button.mwb_ubo_bump_add_to_cart_button, .mwb_ubo_bump_add_to_cart_button {
	font-size: 16px !important;
	white-space: unset !important;
	display: none;
	width: 100% !important;
	justify-content: center;
	margin-top: 45px;
 }
 /*custom css for old browser*/
 .mwb_bump_popup_image, 
 .mwb_bump_popup_select {
	 padding: 0px 20px;
	 width: 50%;
	 flex: 0 0 47%;
	 float: left;
 }
 .mwb_bump_popup_inner_content {
	 display: block;
	 width: 100%;
 
 }
 .mwb_bump_popup_inner_content:after {
	 content: "";
	 clear: both;
	 display: block;
 }
 @media only screen and (max-width: 767px) {
	 .mwb_bump_popup_image, 
	 .mwb_bump_popup_select {
		 width: 100%;
		 margin: auto;
	}
 }
 /* Helper class. */
 .keep_hidden {
	 display: none;
 }
 .keep_block {
	 display: block;
 }
 .keep_flex{
	 display: flex;
 }

.mwb-g-modal {
	display: none;
}

.mwb-g-modal.mwb-modal--open {
	display: block;
}

.mwb-g-modal.mwb-modal--open::after {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	content: '';
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
}

.mwb-g-modal.mwb-modal--open .mwb-g-modal__cover {
	left: 0;
	right: 0;
    bottom: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    z-index: 999999;
}

.mwb-g-modal__close-wrap {
	text-align: right;
}
 
.mwb-g-modal__close {
	border-radius: 50%;
	box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	height: 24px;
	position: relative;
	right: 0;
	top: 0;
	width: 24px;
}
 
 .mwb-g-modal__close::after {
	content: 'x';
	left: 50%;
	position: absolute;
	top: calc(50% - 2px);
	transform: translate(-50%,-50%);
 }
 
 .mwb-g-modal__message {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #053500;
	margin: 100px auto;
	max-width: 500px;
	padding: 15px 20px;
	transform: scale(0);
	width: 100%;
 }

.mwb-g-modal.mwb-modal--open .mwb-g-modal__message {
	animation: scaleup 0.3s ease-in forwards;
}
 
.mwb-g-modal.mwb-modal--close .mwb-g-modal__message {
	animation: scaledown 0.2s ease-out backwards;
}


.mwb_bump_popup_meta_form input,
.mwb_bump_popup_meta_form select,
.mwb_bump_popup_meta_form textarea {
	padding: 5px 15px 5px 10px !important;
	width: 100% !important;
	max-width: 300px;
}

.mwb_bump_popup_meta_form input[type="submit"],
.mwb_bump_popup_meta_form input[type="radio"],
.mwb_bump_popup_meta_form input[type="checkbox"] {
	width: auto !important;
	max-width: unset;
}

.mwb_bump_popup_meta_form input[type="submit"]:focus,
.mwb_bump_popup_meta_form input[type="radio"]:focus,
.mwb_bump_popup_meta_form input[type="checkbox"]:focus {
	outline: none;
}

.mwb_ubo_bump_meta_field {
	margin: 10px 0;
}

.mwb-ubo-form-grp {
	display: flex;
	flex-wrap: wrap
}
   
.meta-form-field-label {
	color: #1d201f;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: left;
	text-transform: capitalize;
 }

 .mwb-ubo-form-grp .meta-form-field-label {
	flex: 0 0 100%;
	max-width: 25%;
	margin: 0 10px 10px 0;
 }

 .meta-form__input-wrap {
	flex: 0 0 100%;
	max-width: calc(75% - 10px);
 }
   
 .meta-form-field-desc {
	color: rgba(43,43,43,0.5);
	display: block;
	font-size: 14px;
	line-height: 18px;
	margin: 5px 0;
	text-align: left;
 }
 
.mwb_bump_popup_meta_form .single_add_to_cart_button.mwb-meta-form-submit {
	font-size: 18px !important;
	padding: 8px 15px;
	text-align: center;
	text-transform: uppercase;
	white-space: unset !important;
	width: 100% !important;
 }
 

 @keyframes scaleup {
	0% {
		transform: scale(0);
		-webkit-transform:scale(0);
		opacity: 0.5;
	}
	50% {
		transform: scale(0.5);
		-webkit-transform:scale(0.5);
		opacity: 1;
	}
	75% {
		transform: scale(1.2);
		-webkit-transform:scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		-webkit-transform:scale(1);
		opacity: 1;
	}
  }
  
  @keyframes scaledown {
	0% {
		transform: scale(1);
		-webkit-transform:scale(1);
		opacity: 0.8;
	}
	50% {
		transform: scale(0.5);
		-webkit-transform:scale(0.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(0);
		-webkit-transform:scale(0);
		opacity: 0;
	}
  }
 /*custom css for old browser*/
 /* mobile view */
 @media screen and (max-width: 576px) {
	 .mwb_bump_popup_select select{
		min-width: 100%;
	 }

	 .mwb_bump_popup_image,
	 .mwb_bump_popup_select{
		flex: 0 0 100%;
	 }
 
	 .mwb_ubo_bump_add_to_cart_button {
		margin:auto;
	 }
 
	 .mwb_ubo_input_row {
		margin-bottom: 30px;
	 }
 
	 .mwb_bump_popup_close {
		right: 11px;
		top: 2px;
	 }
	 .mwb_bump_popup_image {
		margin-top: 20px;
	 }
	 .mwb_bump_popup_content{
		height: 320px;
	 }

	 .mwb-ubo-form-grp .meta-form-field-label,
	 .mwb-ubo-form-grp .meta-form__input-wrap {
		max-width: 100%;
	 }

	 .meta-form-field-label {
		margin-bottom: 10px;
	 }

	 .mwb-g-modal__message {
		max-width: 300px;
	 }
 }
 /*Fixes 2.0.1*/

.mwb_ubo_input_row select,
input.mwb_input_quantity.mwb_quantity_input {
max-width: 300px;
}

.mwb_bump_popup_select label {
margin: 10px 0;
}

.mwb-g-modal__cover {
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.mwb-g-modal__close {
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
	position: absolute;
	right: 7px;
	top: 0;
	transform: rotate(45deg);
}

.mwb-g-modal__message {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #053500;
	left: -200%;
	max-width: 600px;
	min-height: 300px;
	padding: 15px 20px;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: left 1.2s linear;
	width: 80%;
}

.show-g_modal_cover {
	display: block;
}

.show-g_modal_message {
	left: 50%;
}

/*Fixes v2.0.2*/
.woocommerce-checkout-payment .mwb-g-modal__close {
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.woocommerce-checkout-payment .mwb-g-modal__close:after {
    display: none;
}

.woocommerce-checkout-payment .mwb-g-modal__message {
    top: 0;
    transform: translate(-50%, 0);
    bottom: 25px;
}

.woocommerce-checkout-payment .mwb-g-modal__content-popup {
    max-height: 380px;
    overflow: auto;
}

@keyframes show_down {
	0%{ opacity:1; bottom: 50px; }
	50%{ opacity:1; bottom: 25px; }
	100%{ opacity:1; bottom: 50px; }
}
.woocommerce-checkout-payment .mwb-g-modal__arrow {
    position: fixed;
    bottom: 25px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    opacity: 0;
    animation: show_down 1s linear 5;
}

@media screen and (max-width:768px){
	.woocommerce-checkout-payment .mwb-g-modal__message .mwb_upsell_offer_discount_section h3 {
	    font-size: 24px!important;
	}
	.woocommerce-checkout-payment .mwb-g-modal__message .mwb_upsell_offer_product_section {
		display: block!important;
	}
	.woocommerce-checkout-payment .mwb-g-modal__message .mwb_upsell_offer_image {
   		margin: 0 auto!important;
	}
	.woocommerce-checkout-payment .mwb-g-modal__message .mwb_upsell_offer_product_content {
	    width: calc(100%)!important;
	}
	.woocommerce-checkout-payment .mwb-g-modal__message .mwb_upsell_offer_secondary_section p {
		font-size: 14px!important;
	}
}
