/**
 * All of the CSS for your product edit admin-specific functionality should be
 * included in this file.
 */

.wps_select_disc_for_recommdation select {
	margin: 4px !important;
  }
  .wps_select_disc_for_recommdation input {
	margin: 4px !important;
  }

  input.wps_upsell_offer_input_type_recommendation {
    width: 100%;
    max-width: 194px;
}