.wps-ufbo-menu-custom-class .wp-menu-image img {
    opacity: 1;
    height: auto;
    width: 28px;
  }
  .wps-offer-notice.notice.notice-warning {
  padding: 0;
  border: none;
  margin-left: 2px;
  margin-right: 20px;
}

.wps-offer-notice.notice.notice-warning a img {
  display: block;
  width: 100%;
  height: auto;
}