:root {
    --primary-blue: #2196f3;
    --dark-blue: #00559b;
    --light-blue: #5fb0f3;

}


/* Heading Start */
#wps_upsell_bump_setting_wrapper.woocommerce {
    padding: 25px;
    margin: 20px 20px 0 0;
    border-radius: 8px;
}

#wps_upsell_bump_setting_wrapper.woocommerce .wps_ubo_header_row {
    align-items: center;
    padding: 0 0 25px;
}

#wps_upsell_bump_setting_wrapper.woocommerce .wps_upsell_bump_setting_title {
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

#wps_upsell_bump_setting_wrapper.woocommerce .wps_upsell_bump_setting_title .wps_ubo_version {
    display: inline-block;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1;
}

#wps_upsell_bump_setting_wrapper.woocommerce .wps_ubo_meta_links a.button {
    padding: 5px 10px;
    line-height: 1.25;
    border: 1.5px solid #ddd;
    border-radius: 4px;
    align-items: center;
    display: flex;
    color: #000;
    gap: 5px;
    background: #f2f2f2;
}

#wps_upsell_bump_setting_wrapper.woocommerce .wps_ubo_meta_links a.button:hover {
    background: transparent;
}

#wps_upsell_bump_setting_wrapper.woocommerce .wps_ubo_meta_links a.button .dashicons {
    line-height: 20px;
}

@media screen and (max-width: 782px) {
    #wps_upsell_bump_setting_wrapper.woocommerce {
        padding: 15px;
        margin: 20px 20px 0 10px;
    }
}

/* Heading End */

/* Tabs Start */

#wps_upsell_bump_setting_wrapper nav.nav-tab-wrapper.woo-nav-tab-wrapper {
    padding: 0;
    flex-wrap: wrap;
}

#wps_upsell_bump_setting_wrapper a.nav-tab {
    background: transparent;
    color: #303030;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    border-radius: 8px 8px 0 0;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 15px;
}

#wps_upsell_bump_setting_wrapper .wps_main_global_wrapper,
#wps_upsell_bump_setting_wrapper .nav-tab {
    flex: 0;
}

#wps_upsell_bump_setting_wrapper .nav-tab path,
#wps_upsell_bump_setting_wrapper .nav-tab circle {
    stroke-width: 1.5px;
}

#wps_upsell_bump_setting_wrapper .nav-tab:hover path,
#wps_upsell_bump_setting_wrapper .nav-tab:hover circle {
    stroke: var(--primary-blue);
}

#wps_upsell_bump_setting_wrapper .wps_ubo_meta_links {
    flex-wrap: wrap;
}

#wps_upsell_bump_setting_wrapper .wps_ubo_meta_links a.button.active-pro-btn {
    background: var(--light-blue);
    color: #fff;
    border: 2px solid var(--dark-blue);
    font-weight: 600;
}

#wps_upsell_bump_setting_wrapper a.nav-tab.nav-tab-active,
#wps_upsell_bump_setting_wrapper .nav-tab.nav-tab-active path,
#wps_upsell_bump_setting_wrapper .nav-tab.nav-tab-active circle {
    stroke: var(--primary-blue);
    color: #303030;
    border-bottom: 2px solid var(--primary-blue);
    /* border-radius: 8px 8px 0 0; */
    background: linear-gradient(180deg, #f5f5f5, transparent);
}

#wps_upsell_bump_setting_wrapper a.nav-tab:hover,
#wps_upsell_bump_setting_wrapper a.nav-tab:focus {
    background: linear-gradient(180deg, #f5f5f5, transparent);
    color: #303030;
}

#wps_upsell_bump_setting_wrapper .wps_main_global_wrapper .nav-sub-tabs {
    margin: 5px 0 10px;
}

#wps_upsell_bump_setting_wrapper .wps_main_global_wrapper .nav-sub-tabs a.sub-tab {
    color: #303030;
    font-weight: 600;
    border: none;
    background: transparent;
}

#wps_upsell_bump_setting_wrapper .wps_main_global_wrapper .nav-sub-tabs a.sub-tab.nav-tab-active {
    color: var(--dark-blue);
    border: 1.5px solid var(--light-blue);
    border-radius: 4px;
    background: linear-gradient(180deg, transparent, #abdaff);
}

#wps_upsell_bump_setting_wrapper .wps_main_global_wrapper .nav-sub-tabs a.sub-tab:hover {
    color: var(--primary-blue);
}

/* Tabs End */

/* General Settings tab start */

#wps_upsell_bump_setting_wrapper table.form-table.wps_upsell_bump_creation_setting tr th,
#wps_upsell_bump_setting_wrapper table.form-table.wps_upsell_bump_creation_setting tr td {
    border: none;
    background: transparent;
    padding: 15px 20px !important;
}

#wps_upsell_bump_setting_wrapper table.form-table.wps_upsell_bump_creation_setting tr th {
    width: 400px;
}

#wps_upsell_bump_setting_wrapper table.form-table.wps_upsell_bump_creation_setting tr {
    background: transparent;
}

#wps_upsell_bump_setting_wrapper .wps_upsell_table {
    border-radius: 8px;
}

#wps_upsell_bump_setting_wrapper table.form-table.wps_upsell_bump_creation_setting tr td {
    padding-left: 35px !important;
}

#wps_upsell_bump_setting_wrapper table tr td label {
    top: 0;
}

#wps_upsell_bump_setting_wrapper table tr td label:has(select) {
    width: auto;
    height: auto;
    display: block;
}

#wps_upsell_bump_setting_wrapper table tr th label {
    color: #303030;
}


#wps_upsell_bump_setting_wrapper p.submit .woocommerce-save-button#wps_upsell_bump_creation_setting_save:hover {
    box-shadow: 0 10px 10px rgb(0 0 0 / 15%), 0 5px 5px #2f8d0091 inset;
}

#wps_upsell_bump_setting_wrapper p.submit {
    text-align: right;
    padding-bottom: 0 !important;
    position: sticky;
    bottom: 25px;
}

#wps_upsell_bump_setting_wrapper p.submit .woocommerce-save-button#wps_upsell_bump_creation_setting_save {
    border-radius: 8px;
    font-size: 16px;
    padding: 14px 22px;
    line-height: 1.25;
    background: var(--primary-blue);
    transition: all 0.2s linear;
}

#wps_upsell_bump_setting_wrapper select,
#wps_upsell_bump_setting_wrapper input[type=text],
#wps_upsell_bump_setting_wrapper input[type=number] {
    border: 1.5px solid #dcdcdc;
    max-width: 400px;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    min-height: 30px;
    width: 100%;
    height: auto !important;
}

button#wps_ubo_popup_configure_btn {
    border: none;
    background: transparent;
    height: auto;
    min-height: 0;
    padding: 0;
    line-height: 1;
    vertical-align: middle;
    opacity: 0.4;
    transition: all 0.3s linear;
    margin: 0 0 0 3px !important;
}

button#wps_ubo_popup_configure_btn:hover {
    opacity: 1;
}

@media screen and (max-width: 400px) {}

/* General Settings tab end */

/* Settings saved notice start */
#wps_upsell_bump_setting_wrapper .wps-notice.notice-success {
    position: absolute;
    top: 25px;
    right: 25px;
    /* left: 50%; */
    /* transform: translate(-50%,0); */
    margin: 0;
    border-radius: 8px;
    background: #eaffe0;
    border: 1.5px solid #52a529;
    padding: 20px;
    min-width: 300px;
}

#wps_upsell_bump_setting_wrapper .wps-notice.notice-success p {
    padding: 0;
    line-height: 1.25;
    color: #2d730b;
}

#wps_upsell_bump_setting_wrapper .wps-notice.notice-success .notice-dismiss {
    position: absolute;
    top: 0;
    padding: 5px;
    right: 0;
}

#wps_upsell_bump_setting_wrapper .wps-notice.notice-success .notice-dismiss:before {
    color: #2d730b;
}

/* Settings saved notice end */

/* ORDER BUMP SETTING PAGE  */

.wps-ubo-bump-cards {
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
}

.wps_upsell_bump_create_new_bump #wps-ubo-open-template-modal {
    background: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    color: #fff;
}

.wps-ubo-bump-block .wps_upsell_bump_links {
    background: #fff;
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    text-decoration: none;
    border-radius: 4px;
}

.wps-ubo-bump-card .wps_upsell_bump_list_targets {
    background-color: #f1f1f1;
    border-radius: 6px;
}

.wps-ubo-bump-card {
    background-color: #ffffff;
}

.wps-ubo-bump-block.wps-ubo-bump-actions {
    border: none;
    align-self: flex-end;
}

.wps-ubo-bump-card .wps-ubo-bump-card__body {
    flex: 1;
}

.wps-ubo-bump-card a.wps_upsell_bump_links:last-of-type {
    margin-left: auto;
    color: #fff;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    border-color: transparent;

}

.wps-ubo-bump-card a.wps_upsell_bump_links:last-of-type path {
    stroke: #dcdcdc;
}

.wps-ubo-bump-card a.wps_upsell_bump_links:last-of-type:hover path {
    stroke: var(--primary-blue)
}

#wps_upsell_bump_setting_wrapper .wps_upsell_bumps_list {
    margin: 10px 0 0;
}

#wps_ubo_import_csv_form button {
    background: #fff;
    color: var(--primary-blue);
    border-color: var(--primary-blue);
}

#wps_upsell_bump_setting_wrapper .wps_ubo_bump_tool .button-primary {
    background: var(--primary-blue);
    border: none;
}

.wps-ubo-bump-card .wpsb-chip {
    border-radius: 5px;
    color: var(--primary-blue);
}

.wps-ubo-bump-card .wps-ubo-bump-actions {
    justify-content: center;
    align-items: center;
}

.wps_ubo_action_bar .wps_ubo_bump_tools_wrapper {
    justify-content: space-between;
    flex: 1;
}

.wps_wocuf_pro_funnels_list {
    margin-top: 0;
}

@media screen and (max-width: 600px) {
    .wps-ubo-bump-cards {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}

/* ORDER BUMP SETTING PAGE END */

/* ORDER BUMP SETTING PAGE POPUP CARDS START  */

.wps-ubo-template-card .wps-ubo-template-icon {
    padding: 14px;
    border-radius: 100px;
}

.wps-ubo-template-card {
    justify-content: space-between;
}

#wps_upsell_bump_setting_wrapper .wps-ubo-template-card__head .wps-ubo-template-card__text p {
    padding: 10px 0;
}

.wps-ubo-template-card__head .wps-ubo-template-icon {
    position: absolute;
    background: none;
    font-size: 24px !important;
}

.wps-ubo-template-card__head .wps-ubo-template-card__text h4 {
    margin-left: 40px;
    padding: 10px 0;
    font-size: 14px;
}

.wps-ubo-template-card.is-open {
    position: relative;
}

#wps-ubo-template-modal .wps-ubo-template-card>.wps-ubo-template-card__head>.wps-ubo-template-badge {
    position: absolute;
    right: 0;
    margin-top: -30px;
    margin-right: 10px;
    font-size: 10px !important;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.wps-ubo-template-card .wps-ubo-template-choose {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background: #fff;
    color: var(--primary-blue);
    padding: 5px;
    border-color: var(--primary-blue);
}

.wps-ubo-template-card.is-open:hover {
    border: 1px solid var(--primary-blue);
}

.wps-ubo-template-card.is-open:hover .wps-ubo-template-choose {
    background: var(--primary-blue);
    color: #fff;
}

.wps-ubo-template-dialog__head h3 {
    margin: 0;
}

#wps-ubo-template-modal .wps-ubo-template-icon {
    color: var(--primary-blue);
}

.wps_upsell_bump_setting_title.pre-bump-report_analytics a {
    padding: 6px 14px;
}

#wps_upsell_bump_setting_wrapper .wps_upsell_table .wps_upsell_bump_offers h1 {
    margin: 10px 0;
    border-radius: 0;
    background: none;
}

#wps_upsell_bump_setting_wrapper .wps_upsell_table .new_offers .wps_upsell_offer_title {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.new_created_offers.wps_upsell_single_offer table {
    border: none;
}


.wps_upsell_bump_offers {
    background: none !important;
}

#wps_upsell_bump_setting_wrapper .wps_upsell_table .new_offers .wps_upsell_offer_title {
    background: #f1f1f1;
    color: #000;
}

/* ORDER BUMP SETTING PAGE POPUP CARDS END */


/* Report Section page layout Css */
.wps_upsell_bumps_list-report {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.wps-bump-offer-cards {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1.5px solid #E7E5E4;
    align-items: center;
    box-shadow: 0 4px 24px 0 rgba(16, 25, 45, 0.06);
}

#wps_upsell_bumps_list-report .card-content h4 {
    margin: 0;
    font-size: 16px;
    color: #6b7280;
    font-weight: 500;
}

#wps_upsell_bumps_list-report .card-content p {
    margin-top: 6px;
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}

.card-icon img {
    width: 40px;
    height: 40px;
}

@media (max-width: 1024px) {
    .wps_upsell_bumps_list-report {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .wps_upsell_bumps_list-report {
        grid-template-columns: 1fr;
    }

}

/* Pie chart main wrapper */

.wps_upsell_bumps_list-piechart {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.wps_upsell_bumps_list-piechart-con {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    border: 1.5px solid #E7E5E4;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(16, 25, 45, 0.06);
}


.wps_upsell_bumps_list-piechart-con canvas {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 1024px) {
    .wps_upsell_bumps_list-piechart {
        grid-template-columns: repeat(2, 1fr);
    }

    .wps_upsell_bumps_list-piechart-con canvas {
        max-width: 320px !important;
        max-height: 320px !important;
    }
}

@media (max-width: 576px) {
    .wps_upsell_bumps_list-piechart {
        grid-template-columns: 1fr;
    }

    .wps_upsell_bumps_list-piechart-con canvas {
        max-width: 300px !important;
        max-height: 300px !important;
    }
}

/* Upsell funnel setting page css*/
.wps_wocuf_pro_create_new_funnel #wps-wocuf-pro-open-funnel-template-modal {
    background: var(--primary-blue);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 16px;
    color: #fff;
}

#wps-wocuf-pro-funnel-template-modal .wps-ubo-template-badge {
    position: absolute;
    right: 0;
    margin-top: -30px;
    margin-right: 10px;
    font-size: 10px !important;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

#wps-wocuf-pro-funnel-template-modal .wps-ubo-template-icon {
    color: var(--primary-blue);
}

#wps_upsell_bump_setting_wrapper .wps_wocuf_pro_funnels_list p {
    padding: 0;
}

.wps-ubo-bump-card .wps_upsell_funnel_list_targets {
    background-color: #f1f1f1;
    border-radius: 6px;
}

.wps-ubo-bump-card .wps_upsell_bump_links:last-of-type {
    margin-left: auto;
    color: #fff;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    border-color: transparent;

}

.wps-ubo-bump-card .wps_upsell_bump_links:last-of-type path {
    stroke: #dcdcdc;
}

.wps-ubo-bump-card .wps_upsell_bump_links:last-of-type:hover path {
    stroke: var(--primary-blue)
}

/* Upsell funnel setting - create section css*/
#wps_upsell_bump_setting_wrapper .wps_upsell_table #wps_upsell_funnel_name_heading h2 {
    font-size: 32px;
    margin: 0;
    font-weight: 400!important;
}
.wps_upsell_table #wps_upsell_funnel_status {
    padding: 0 !important;
}

#wps_upsell_bump_setting_wrapper .wps_upsell_table #wps_upsell_funnel_name_heading div#wps_upsell_funnel_status .wps_upsell_funnel_span {
    background-color: #cccccc;
}

#wps_upsell_bump_setting_wrapper .wps_upsell_table #wps_upsell_funnel_name_heading div#wps_upsell_funnel_status span.wps_upsell_funnel_status_off {
    color: #999999;
}

table.form-table.wps_wocuf_pro_creation_setting {
    box-shadow: none;
    border: none;
    margin-top: 0!important;
}

.wps_wocuf_pro_funnels_list table td,
.wps_wocuf_pro_funnels_list table th,
.wps_upsell_table table th,
.wps_upsell_table table td {
    border: none;
}


#wps_upsell_bump_setting_wrapper .wps_wocuf_pro_creation_setting tr:nth-of-type(even) {
    background: none;
}
#wps_upsell_bump_name_heading {
    padding: 0 20px;
}
.wps_wocuf_pro_create_new_offer:hover, .wps_wocuf_pro_create_new_funnel a:hover {
    border: none;
    color: #fff;
    background-color: var(--primary-blue);
    opacity: unset;
    
}
.wps_upsell_table table th label h4 {
    padding: 0!important;
}

/* short code page css */

#wps_upsell_bump_setting_wrapper .wps_wocuf_pro_shortcodes {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
}
.wps_wocuf_pro_shortcodes .wps_upsell_shortcodes_hr {
    display: none;
}

/* Store checkout setting page */
#wps_upsell_bump_setting_wrapper table.form-table.wps_wocuf_pro_creation_setting tr th {
    padding: 0 !important;
}
#wps-ufw_main.wps-ufw_store-checkout {
    margin: 0;
}



/* Container for the buttons/checkbox */
.wps-report-actions {
   display: flex;
   justify-content: flex-end; /* Moves content to the right */
   align-items: center;
   gap: 15px;
   margin-bottom: 25px;
}


/* Auto refresh label styling */
.wps-auto-refresh-label {
   cursor: pointer;
   font-size: 13px;
   display: flex;
   align-items: center;
   gap: 5px;
   color: #646970;
}


/* Timer text styling */
.wps-timer-text {
   color: #666;
   font-size: 13px;
}


/* Title styling to match your structure */
.wps_ubo_stats_heading_title {
   margin: 30px 0 20px 0;
   font-size: 20px;
   font-weight: 600;
}
